
.header {
    background: #222222;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo{
    color: #FFFFFF;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.btn-cart{
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    background: #b1aeaf;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    width: 100px;
    height: 30px;
    outline: 0;
    transition: background 1s;
}

.products{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.buy-btn{
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    background: #b1aeaf;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    width: 200px;
    height: 30px;
    outline: 0;
    transition: background 1s;
}

.btn-cart:hover{
    background: #313031;
}
.buy-btn:hover{
    background: #313031;
}
